name "production"
description "Production environemnt role"

default_attributes(
    "nginx-wrapper" => {
        "sites" => {
            "site.dev" => {
                "server_name" => "dev.site.com"
            },
            "site.stage" => {
                "server_name" => "stage.site.com"
            },
            "site.prod" => {
                "server_name" => "www.site.com"
            },
        }
    }
)

override_attributes(
    "mariadb" => {
        "server_root_password" => "<production_root_password>",
    }
)

run_list(
    "role[webserver]",
    "role[developer]",
    #"role[testing]",
    "recipe[nginx-wrapper]"
)